Machine Learning class report<br>
Q-Learning<br>
201820760
Igarashi Yu

# First condition<br>

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [12]:
sample_df=pd.DataFrame({
    't' : np.arange(start=0,stop=5,step=1),
    '(s_t,a_t)' : ['(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,RIGHT)'],
    'Q(1,LEFT)' : [0,0,0,0,0],
    'Q(1,RIGHT)' : [0,0,0,0.9,0.9],
    'Q(2,LEFT)' : [0,0,0,0,0],
    'Q(2,RIGHT)' : [0,10,10,10,19]
})
sample_df

   t  (s_t,a_t)  Q(1,LEFT)  Q(1,RIGHT)  Q(2,LEFT)  Q(2,RIGHT)
0  0  (1,RIGHT)          0         0.0          0           0
1  1  (2,RIGHT)          0         0.0          0          10
2  2   (1,LEFT)          0         0.0          0          10
3  3  (1,RIGHT)          0         0.9          0          10
4  4  (2,RIGHT)          0         0.9          0          19

# when step $t$ = 5

$Q(1,LEFT) = (1-\alpha)Q(1,LEFT) + \alpha[R(1,LEFT) + \gamma max(Q(1,LEFT),Q(1,RIGHT))]$<br>
$Q(1,LEFT) = 0.9 * 0 + 0.1[0 + 0.9 * 0.9]$<br>

In [26]:
ans = 0.9 * 0 + 0.1*(0 + 0.9 * 0.9)
ans

0.08100000000000002

$Q(1,LEFT) = 0.081$

In [18]:
sample_df=pd.DataFrame({
    't' : np.arange(start=0,stop=6,step=1),
    '(s_t,a_t)' : ['(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,RIGHT)','(1,LEFT)'],
    'Q(1,LEFT)' : [0,0,0,0,0,0.081],
    'Q(1,RIGHT)' : [0,0,0,0.9,0.9,0.9],
    'Q(2,LEFT)' : [0,0,0,0,0,0],
    'Q(2,RIGHT)' : [0,10,10,10,19,19]
})
sample_df

   t  (s_t,a_t)  Q(1,LEFT)  Q(1,RIGHT)  Q(2,LEFT)  Q(2,RIGHT)
0  0  (1,RIGHT)      0.000         0.0          0           0
1  1  (2,RIGHT)      0.000         0.0          0          10
2  2   (1,LEFT)      0.000         0.0          0          10
3  3  (1,RIGHT)      0.000         0.9          0          10
4  4  (2,RIGHT)      0.000         0.9          0          19
5  5   (1,LEFT)      0.081         0.9          0          19

# when step $t$ = 6

$Q(1,RIGHT) = (1-\alpha)Q(1,RIGHT) + \alpha[R(1,RIGHT) + \gamma max(Q(2,LEFT),Q(2,RIGHT))]$<br>
$Q(1,RIGHT) = 0.9 * 0.9 + 0.1[0 + 0.9 * 19]$<br>

In [25]:
ans = 0.9 * 0.9 + 0.1*(0 + 0.9 * 19)
ans

2.5200000000000005

$Q(1,RIGHT) = 2.52$

In [29]:
sample_df=pd.DataFrame({
    't' : np.arange(start=0,stop=7,step=1),
    '(s_t,a_t)' : ['(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)'],
    'Q(1,LEFT)' : [0,0,0,0,0,0.081,0.081],
    'Q(1,RIGHT)' : [0,0,0,0.9,0.9,0.9,2.52],
    'Q(2,LEFT)' : [0,0,0,0,0,0,0],
    'Q(2,RIGHT)' : [0,10,10,10,19,19,19]
})
sample_df

   t  (s_t,a_t)  Q(1,LEFT)  Q(1,RIGHT)  Q(2,LEFT)  Q(2,RIGHT)
0  0  (1,RIGHT)      0.000        0.00          0           0
1  1  (2,RIGHT)      0.000        0.00          0          10
2  2   (1,LEFT)      0.000        0.00          0          10
3  3  (1,RIGHT)      0.000        0.90          0          10
4  4  (2,RIGHT)      0.000        0.90          0          19
5  5   (1,LEFT)      0.081        0.90          0          19
6  6  (1,RIGHT)      0.081        2.52          0          19

# when step $t$ = 7

$Q(2,LEFT) = (1-\alpha)Q(2,LEFT) + \alpha[R(2,LEFT) + \gamma max(Q(1,LEFT),Q(1,RIGHT))]$<br>
$Q(2,LEFT) = 0.9 * 0 + 0.1[0 + 0.9 * 2.52]$<br>

In [30]:
ans = 0.9 * 0 + 0.1*(0 + 0.9 * 2.52)
ans

0.22680000000000003

$Q(2,LEFT) = 2.52$

In [31]:
sample_df=pd.DataFrame({
    't' : np.arange(start=0,stop=8,step=1),
    '(s_t,a_t)' : ['(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,LEFT)'],
    'Q(1,LEFT)' : [0,0,0,0,0,0.081,0.081,0.081],
    'Q(1,RIGHT)' : [0,0,0,0.9,0.9,0.9,2.52,2.52],
    'Q(2,LEFT)' : [0,0,0,0,0,0,0,0.2268],
    'Q(2,RIGHT)' : [0,10,10,10,19,19,19,19]
})
sample_df

   t  (s_t,a_t)  Q(1,LEFT)  Q(1,RIGHT)  Q(2,LEFT)  Q(2,RIGHT)
0  0  (1,RIGHT)      0.000        0.00     0.0000           0
1  1  (2,RIGHT)      0.000        0.00     0.0000          10
2  2   (1,LEFT)      0.000        0.00     0.0000          10
3  3  (1,RIGHT)      0.000        0.90     0.0000          10
4  4  (2,RIGHT)      0.000        0.90     0.0000          19
5  5   (1,LEFT)      0.081        0.90     0.0000          19
6  6  (1,RIGHT)      0.081        2.52     0.0000          19
7  7   (2,LEFT)      0.081        2.52     0.2268          19

# when step $t$ = 8

$Q(1,RIGHT) = (1-\alpha)Q(1,RIGHT) + \alpha[R(1,RIGHT) + \gamma max(Q(2,LEFT),Q(2,RIGHT))]$<br>
$Q(1,RIGHT) = 0.9 * 2.52 + 0.1*(0 + 0.9 * 19)$<br>

In [35]:
ans = 0.9 * 2.52 + 0.1*(0 + 0.9 * 19)
ans

3.9780000000000006

$Q(1,RIGHT) = 3.978$

In [38]:
sample_df=pd.DataFrame({
    't' : np.arange(start=0,stop=9,step=1),
    '(s_t,a_t)' : ['(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,LEFT)','(1,RIGHT)'],
    'Q(1,LEFT)' : [0,0,0,0,0,0.081,0.081,0.081,0.081],
    'Q(1,RIGHT)' : [0,0,0,0.9,0.9,0.9,2.52,2.52,3.978],
    'Q(2,LEFT)' : [0,0,0,0,0,0,0,0.2268,0.2268],
    'Q(2,RIGHT)' : [0,10,10,10,19,19,19,19,19]
})
sample_df

   t  (s_t,a_t)  Q(1,LEFT)  Q(1,RIGHT)  Q(2,LEFT)  Q(2,RIGHT)
0  0  (1,RIGHT)      0.000       0.000     0.0000           0
1  1  (2,RIGHT)      0.000       0.000     0.0000          10
2  2   (1,LEFT)      0.000       0.000     0.0000          10
3  3  (1,RIGHT)      0.000       0.900     0.0000          10
4  4  (2,RIGHT)      0.000       0.900     0.0000          19
5  5   (1,LEFT)      0.081       0.900     0.0000          19
6  6  (1,RIGHT)      0.081       2.520     0.0000          19
7  7   (2,LEFT)      0.081       2.520     0.2268          19
8  8  (1,RIGHT)      0.081       3.978     0.2268          19

# when step $t$ = 9

$Q(2,RIGHT) = (1-\alpha)Q(2,RIGHT) + \alpha[R(2,RIGHT) + \gamma max(Q(3,\alpha'))]$<br>
,$Q(2,RIGHT) = 0.9 * 19 + 0.1*(100 + 0)$<br>

In [40]:
ans = 0.9 * 19 + 0.1*(100 + 0)
ans

27.1

$Q(2,RIGHT) = 27.1$

In [43]:
sample_df=pd.DataFrame({
    't' : np.arange(start=0,stop=10,step=1),
    '(s_t,a_t)' : ['(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,RIGHT)','(1,LEFT)','(1,RIGHT)','(2,LEFT)','(1,RIGHT)','(2,RIGHT)'],
    'Q(1,LEFT)' : [0,0,0,0,0,0.081,0.081,0.081,0.081,0.081],
    'Q(1,RIGHT)' : [0,0,0,0.9,0.9,0.9,2.52,2.52,3.978,3.978],
    'Q(2,LEFT)' : [0,0,0,0,0,0,0,0.2268,0.2268,0.2268],
    'Q(2,RIGHT)' : [0,10,10,10,19,19,19,19,19,27.1]
})
sample_df

   t  (s_t,a_t)  Q(1,LEFT)  Q(1,RIGHT)  Q(2,LEFT)  Q(2,RIGHT)
0  0  (1,RIGHT)      0.000       0.000     0.0000         0.0
1  1  (2,RIGHT)      0.000       0.000     0.0000        10.0
2  2   (1,LEFT)      0.000       0.000     0.0000        10.0
3  3  (1,RIGHT)      0.000       0.900     0.0000        10.0
4  4  (2,RIGHT)      0.000       0.900     0.0000        19.0
5  5   (1,LEFT)      0.081       0.900     0.0000        19.0
6  6  (1,RIGHT)      0.081       2.520     0.0000        19.0
7  7   (2,LEFT)      0.081       2.520     0.2268        19.0
8  8  (1,RIGHT)      0.081       3.978     0.2268        19.0
9  9  (2,RIGHT)      0.081       3.978     0.2268        27.1