# Pythonで学ぶ統計学のあたらしい教科書,numpyとpandasの練習

## numpyの練習

In [3]:
import numpy as np
import pandas as pd

In [20]:
sample_array = np.array([1,2,3,4,5])
sample_array

array([1, 2, 3, 4, 5])

In [6]:
sample_array + 2

array([ 2,  4,  6,  8, 10])

In [11]:
sample_array2 = np.array([[1,2,3,4,5],[6,7,8,9,10]])
sample_array2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [12]:
sample_array2.shape

(2, 5)

等差数列

In [15]:
np.arange(start=1,stop=6,step=1)

array([1, 2, 3, 4, 5])

tile関数,同じ文字とか数を並べてarrayをつくれる

In [17]:
np.tile("A",[2,5])

array([['A', 'A', 'A', 'A', 'A'],
       ['A', 'A', 'A', 'A', 'A']], dtype='<U1')

## Pandasの練習

列の名前 : 列に格納するデータ.データフレームの場合列が異なれば複数の型を混在させてよい

In [23]:
sample_df=pd.DataFrame({
    'col1' : sample_array,
    'col2' : sample_array * 2,
    'col3' : ["A","B","C","D","E"]
})
sample_df

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

In [24]:
df_1 = pd.DataFrame({
    'col1' : np.array([1,2,3]),
    'col2' : np.array(["A","B","C"])
})
df_2 = pd.DataFrame({
    'col1' : np.array([4,5,6]),
    'col2' : np.array(["D","E","F"])
})
print(pd.concat([df_1,df_2]))

   col1 col2
0     1    A
1     2    B
2     3    C
0     4    D
1     5    E
2     6    F

In [26]:
print(pd.concat([df_1,df_2],axis=1))

   col1 col2  col1 col2
0     1    A     4    D
1     2    B     5    E
2     3    C     6    F

In [27]:
print(sample_df.col2)

0     2
1     4
2     6
3     8
4    10
Name: col2, dtype: int64

In [28]:
print(sample_df[["col2","col3"]])

   col2 col3
0     2    A
1     4    B
2     6    C
3     8    D
4    10    E

In [30]:
print(sample_df.drop("col1",axis=1))

   col2 col3
0     2    A
1     4    B
2     6    C
3     8    D
4    10    E

上からn個の要素を抽出

In [32]:
print(sample_df.head(n=3))

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C

In [33]:
print(sample_df.query('index==0'))

   col1  col2 col3
0     1     2    A

In [34]:
print(sample_df.query('col3=="A"'))

   col1  col2 col3
0     1     2    A

In [36]:
print(sample_df.query('col3=="A" & col1 == 3'))

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [37]:
print(sample_df.query('col3=="A"') [["col2","col3"]])

   col2 col3
0     2    A

Pandasデータフレームにおいて1列だけを抽出したものはシリーズと呼ばれるデータ型に変化する。

In [38]:
type(sample_df.col1)

pandas.core.series.Series

In [40]:
type(np.array(sample_df.col1))

numpy.ndarray